/*
    BODY STYLE
*/

body {
    font-family: 'Poppins', sans-serif;
    background: #e0e0e0;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-height: 100%;
    background: #081444;
    color: #fff;
    text-align: left;
}

.sidebar-header {
    padding-top: 25px;
    padding-left: 10px;
    display: flex;
}

.toggleBar {
    font-size: 25px;
}

.toggleBar:hover{
    color: grey;
}

.components{
    padding-top: 40px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 18px;
}

#sidebar li:hover {
    color: rgb(0, 0, 0);
    background: #1e426c76;
}

.dropdown-toggle::after {
    position: relative;
    top: 10%;
    border: solid rgb(255, 255, 255);
    border-width: 0px 3px 3px 0px;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.col-md-12 {
    background: #1e426c76;
    text-align: left;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
}

.evano {
    padding-top: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.form-control {
    width: 250px;
}

.fa-search {
    position: relative;
    bottom: 28px;
    left: 95px;
}

.earning-pic {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10%;
    right: 25%;
}

.earning {
    color: grey;
    position: relative;
    left: 20%;
    bottom: 60%;
}

.col-sm-3 {
    padding-left: 3%;
    padding-top: 2%;
}

.secondLine{
    border-radius: 30px;
    height: 150px;
    width: 250px;
}

.thirdLine {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.col-md{
    border-radius: 10px;
}

.verticalChart{
    height: 80%;
}

.doughnutChart{
    height: 80%;
}

@media screen and (max-width: 768px){
    .container{
        padding: 0 3.2rem;
    }
    #sidebar{
        min-height: 100%;
    }
}